*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
.head{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(360deg,rgba(0, 0, 0, 0.788),rgba(0, 0, 0, 0.257)),url(gym.jpg);
    background-size: cover;
    background-position: center;
}
.contact{
    background-color: rgba(240, 248, 255, 0.466);
    position: relative;
    top: 0;
    right: 0;
    padding: 20px;
    /* border-radius: 0px 0px 0px 31px; */
}
.contact a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin: 0px 10px;
    padding: 10px;
    font-size: 20px;
}
.menu{
    display: flex;
    justify-content: space-between;
}
.logo{
    margin: 0px 10px;
}
.logo img{
    filter: invert(100%);
}
.logo h3{
    color: white;
    font-size: 30px;
    text-align: center;
}
.navbar{
    display: flex;
    align-items: baseline;
    /* background-color: blue; */
}
.navbar a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 34px 20px;

}
.navbar a:hover{
    color: rgb(0, 0, 0);
    background-color: rgba(240, 248, 255, 0.466);

}
.navbar .search{
    width: auto;
}
.navbar .search input[type="text"]{
    margin: 10px 5px;
    width: 14rem;
    height: 2rem;
    font-size: 20px;
    padding: 2px;
    border-radius: 10px;
    border: none;
}

.navbar .search button{
    width: 7rem;
    margin: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    color: white;
    background-color: transparent;
    border: 2px solid #99a0a0;;
    border-radius: 10px;
    cursor: pointer;
}
.navbar .search button:hover{
    background-color: rgba(240, 248, 255, 0.466);
    color: black;
}
.content{
    width: 100%;
    position: absolute;
    top: 65%;
    transform: translateY(-50%);
    text-align: center;
    color: white;
}
.content h1{
    font: 30%;
    text-transform: uppercase;
    font-weight: bold;
}
.content form{
    background-image: linear-gradient(45deg,rgb(73 88 223),rgb(55 43 43 / 71%));
    border-radius: 20px;
    max-width: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(255, 105, 105);
}
.content form input[type="text"],input[type="email"],input[type="number"]{
    width: 18rem;
    height: 2rem;
    font-size: 20px;
    text-align: center;
    box-shadow: 21px 10px 6px black;
}
.content form input[type="button"]{
    height: 3rem;
    width: 9rem;
    margin: 15px;
    font-weight: bold;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.363);
    color: black;
    border-radius: 10px;
    box-shadow: 17px 10px 6px black;
}
.content form label{
    margin: 10px 0px;
}